<div class="container mt-5">
    <h1 class="text-center alert-info">@ViewData["mensaje"]</h1>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <a asp-action="Registrar" asp-Controller="Cuenta" class="btn btn-primary btn-lg btn-block"><i>class="fas fa-user-plus"></i>Registrarse</a>
                <a asp-action="Login" asp-Controller="Cuenta" class="btn btn-secondary btn-lg btn-block"><i>class="fas fa-sing-in-alt"></i>Iniciar Sesión</a>

            </div>
        </div>

    </div>

</div>